/node_modules
/public/hot
/public/images
/public/storage
/storage/*.key
/vendor/*.key
/vendor
vendor/
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea/vcs.xml
.idea/php.xml
.idea/modules.xml
.idea/indiaLifeLLC_v1.0.iml
.idea/vcs.xml
.idea/workspace.xml
.idea/vcs.xml
/public/vendors
/public/components
.idea/vcs.xml
.idea/vcs.xml
composer.lock
package.json
public/css/app.css
public/js/app.js
resources/js/bootstrap.js
resources/js/components/ExampleComponent.vue
resources/sass/_variables.scss
resources/sass/app.scss
webpack.mix.js
composer.lock
server.php
server.php
public/js/app.js
package-lock.json
package.json
package-lock.json
package.json
public/css/app.css
public/js/app.js
public/js/app.js
public/css/app.css
public/js/app.js
public/js/app.js
composer.lock
package-lock.json
package-lock.json
package-lock.json
public/js/app.js
public/mix-manifest.json
package.json
package-lock.json
resources/js/vue-i18n-locales.generated.js
storage/
bootstrap/
public/js/app.js
